a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  color: #fff;
  background-color: #2d2d2d;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  height: 7vh;
  padding: 26px 40px;
  font-size: 3vh;
}

.navbar-content {
  max-width: 1010px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > li {
  margin-right: 30px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  text-decoration: none;
  color: goldenrod;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.mobile-menu a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 500px){
  .menu {
    display: none;
  }

  .menu-collapsed {
    margin-right: 20px;
  }

  .menu-collapsed a {
    color: #fff;
    text-decoration: none;
  }

  .menu-collapsed a:hover {
    color: goldenrod;
  }
}

@media only screen and (min-width: 500px) {
  .navbar {
    height: 7vh;
    font-size: 3vh;
    padding: 26px 40px;
  }

  .menu-collapsed {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .menu {
    display: flex;
    list-style: none;
  }
}
